Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  readability-redundant-*
WarningsAsErrors: ''
SystemHeaders: false
